.registerModal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0; top: 0;
    overflow: hidden;
    z-index: 5001;
    background: rgba(0, 0, 0, 0.5);
    font-family: 'Montserrat', sans-serif;
    transition: all .2s ease-in;
}

.modalContent{
    width: 100%;
    height: auto;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 8px;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background: white;
}

.modalHeader{
    margin: 15px auto;
    width: 100%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    & .__modalLogo{
        padding: 10px 0 !important;
        font-family: 'Comfortaa', cursive;
        font-weight: 700;
    }
    & .__modal{
        color: $text;
        font-weight: 700;
        span{ color: white !important; }
    }
    .modalTitle{
        & h3{ margin-left: 1rem; color: $primary !important; }
    }
    & .modalClose{
        color: $text;
        font-size: 4rem;
        cursor: pointer;
        background: none;
    }
}
.modalBody{
    margin: 15px auto;
    width: 100%;
    max-width: 400px;
}

.joinForm{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    justify-content: center;
    gap: 20px;
}

.usernameInput, .passwordConfInput,
.emailInput, .passwordInput{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    justify-content: center;
    & label{
        font-size: 1.2rem;
        font-weight: bold;
        color: $primary;
        align-self: flex-start;
    }
    & input{
        width: 100%;
        border: 1px solid $text;
        border-radius: 7px;
        padding: 10px;
    }
    & input:focus{
        border: 1px solid $primary;
        color: $primary;
    }
}

.checkboxInput{
    width: 100%;
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    & label{
        font-size: 1.2rem;
        & a{
            color: $primary;
            font-weight: bold;
            &:hover{ filter: brightness(0.5); }
        }
    }
}

.buttonWrapper{
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    & button{
        background: $primary;
        color: white;
        font-weight: 500;
        padding: 8px 25px;
        border-radius: 5px;
        &:hover{ background: darken($color: $primary, $amount: 15); }
    }
    & a{
        font-family: 'Comfortaa', cursive;
        font-size: 1.2rem;
        color: $text;
        cursor: pointer;
        &:hover{ color: $primary; }
    }
}